.products {
    box-sizing: border-box;
    height: 200px;
}

.products-head {
    position: relative;
}

.waiting {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 0.6rem;
}

.img-products {
    width: 100%;
    height: 75px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.text-product {
    color: black;
    font-size: 0.65rem;
}

.text-discount {
    font-size: 0.55rem;
    color: #808080;
}

.text-price {
    font-size: 0.75rem;
    color: red;
}

.rate {
    color: #FFD700;
    font-size: calc(0.5rem + 0.3906vw);
}

.text-footer {
    position: relative;
}

.address {
    left: 0;
    bottom: 0;
    font-size: 0.55rem;
}

.create-at {
    position: absolute;
    right: 0;
    bottom: 2px;
    font-size: 0.55rem;
}

.table th,
td {
    text-align: center;
}

.table td>span {
    vertical-align: middle;
}

.product-image {
    width: 70%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-content {
    position: relative;
}

.product-content .product-lock {
    position: absolute;
    right: 10px;
    z-index: 9;
}

.product-title {
    color: black;
    font-size: calc(0.8rem + 0.3906vw);
}

.detail-content {
    display: flex;
    line-height: 30px;
    align-items: center;
    size: 1rem;
}

.main-price {
    color: crimson;
    font-size: calc(0.7rem + 0.3906vw);
    line-height: 1.5;
}

.price-discount {
    color: #808080;
    font-size: calc(0.6rem + 0.3906vw);
    text-decoration: line-through;
    line-height: 1.5;
}

.text-super {
    vertical-align: super;
}

.user-create {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    font-size: calc(0.5rem + 0.3906vw);
    color: #808080;
}

.detail-category {
    font-size: calc(0.7rem + 0.3906vw);
}

.detail-category>.text-category {
    color: black;
    font-size: calc(0.65rem + 0.3906vw);
    vertical-align: middle;
}

.detail-total {
    color: black;
    font-size: calc(0.6rem + 0.3906vw);
}